<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godared.controlbusmovil">

    <!-- Permisos para almacenamiento -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Esto permite otener el IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons8_troleb_s_48"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.SettingActivity"
            android:label="SettingActivity"
            android:parentActivityName=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:noHistory="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
        </activity>
        <activity android:name=".vista.DetalleActivity"
            android:label="DetalleActivity"
            android:parentActivityName=".vista.SettingActivity"
            android:alwaysRetainTaskState="true"
            android:noHistory="false"
            android:launchMode="singleTop"
            >
            <!-- alwaysRetainTaskState conserva el estado actual de la tareaa_-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.SettingActivity"></meta-data>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyARP_IkyGSCBHzwNMBtK5xZz5ayfpS5DKU" />

        <service
            android:name=".service.geofence.GeolocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.geofence.GeofenceReceiver"
            android:exported="false"></service>
        <service
            android:name=".service.TimerService"
            android:exported="false"></service>
        <!-- suppress AndroidDomInspection -->
        <receiver
            android:name=".service.geofence.GeofenceReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.godared.controlbusmovil.ACTION_RECEIVE_GEOFENCE" />
            </intent-filter>
        </receiver>
        <!--Es un broadcast para escuchar el cambio de GPS-->
        <receiver android:name=".service.GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


    </application>

</manifest>